<nav class="navbar">   
    <div class=" ml-4 font-bold text-xl" style="color:rgb(252, 219, 34)">Mock Exams</div>
    <svg id="exit-btn" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 font-bold cursor-pointer text-orange-500 mr-3">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
    </svg>
    </nav> 


    <!---Alert--->

    <ons-alert-dialog id="dialog-1">
        <div class="alert-dialog-content font-bold text-xl">
          Are you sure to exit?
        </div>
        <div class="alert-dialog-footer">
          <ons-alert-dialog-button id="false">Cancel</ons-alert-dialog-button>
          <ons-alert-dialog-button id="true">Yes</ons-alert-dialog-button>
        </div>
      </ons-alert-dialog>