
     <!-----Testlar---->    
       <div class="container mx-auto px-4 bg-white rounded" style="margin: 50px auto auto auto">
    
      <div class="divider pt-7 mt-4"><span class="text-blue-500 font-bold text-2xl">MULTILEVEL MOCK EXAMS</span></div>
      <div class="test-items">
          <div class="col"><p class="text-3xl font-bold pb-3">Mock Test 1</p></div>
          <div class="divider divider-horizontal"></div>
          <div class="col my-2">
          <svg class="w-16 h-16 text-blue-400 mb-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 80C149.9 80 62.4 159.4 49.6 262c9.4-3.8 19.6-6 30.4-6c26.5 0 48 21.5 48 48v128c0 26.5-21.5 48-48 48c-44.2 0-80-35.8-80-80V288C0 146.6 114.6 32 256 32s256 114.6 256 256v112c0 44.2-35.8 80-80 80c-26.5 0-48-21.5-48-48V304c0-26.5 21.5-48 48-48c10.8 0 21 2.1 30.4 6C449.6 159.4 362.1 80 256 80z"/></svg>
            <button onclick="window.location.href='full-mock/test1/listening'" class="btn btn-primary text-bold">Listening</button>  
          </div>
          <div class="divider"></div>
          <div class="col my-2">
          <svg class="w-16 h-16 text-emerald-400 mb-3" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0 1 16 16v288a16 16 0 0 1-16 16c-128 0-177.45 25.81-208 64c-30.37-38-80-64-208-64c-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0 1 16-16c131.57.59 192 32.84 208 96Zm0 0v288"/></svg>
    
            <button onclick="window.location.href='full-mock/test1/reading'" class="btn btn-success text-bold text-gray-100">Reading</button>
          </div>
          <div class="divider"></div>
          <div class="col my-2">
           <svg class="w-16 h-16 text-rose-400 mb-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><rect width="6" height="12" x="9" y="2" rx="3"/><path stroke-linecap="round" stroke-linejoin="round" d="M5 3v2M1 2v4m18-3v2m4-3v4M5 10v1a7 7 0 0 0 7 7v0a7 7 0 0 0 7-7v-1m-7 8v4m0 0H9m3 0h3"/></g></svg>
              <button onclick="window.location.href='full-mock/test1/speaking'" class="btn bg-rose-500 hover:bg-rose-500 text-bold text-gray-100">Speaking</button>
          </div>
          <div class="divider"></div>
          <div class="col my-2">
            <svg class="w-16 h-16 text-orange-400 mb-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M3.944 11.79a.5.5 0 0 1 .141-.277L14.163 1.435a.5.5 0 0 1 .707 0l3.89 3.89a.5.5 0 0 1 0 .706L8.68 16.11a.5.5 0 0 1-.277.14l-4.595.706a.5.5 0 0 1-.57-.57l.705-4.594Zm.964.314l-.577 3.76l3.759-.578l9.608-9.608l-3.181-3.182l-9.61 9.608Z"/><path d="m15.472 8.173l-3.537-3.53l.707-.708l3.536 3.53l-.706.708Z"/></g></svg>
              <button class="btn bg-orange-500 hover:bg-orange-500 text-bold text-gray-100">Writing</button>
          </div>
      </div>
        
    <div class="divider"></div>       
    <!----Mock 2
           
    <div class="test-items">
          <div class="col"><p class="text-3xl font-bold pb-3">Mock Test 2</p></div>
          <div class="divider divider-horizontal"></div>
        <span class="dotted-divider"></span>
          <div class="col my-2">
          <svg class="w-16 h-16 text-blue-400 mb-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 80C149.9 80 62.4 159.4 49.6 262c9.4-3.8 19.6-6 30.4-6c26.5 0 48 21.5 48 48v128c0 26.5-21.5 48-48 48c-44.2 0-80-35.8-80-80V288C0 146.6 114.6 32 256 32s256 114.6 256 256v112c0 44.2-35.8 80-80 80c-26.5 0-48-21.5-48-48V304c0-26.5 21.5-48 48-48c10.8 0 21 2.1 30.4 6C449.6 159.4 362.1 80 256 80z"/></svg>
            <button class="btn btn-primary text-bold">Listening</button>  
          </div>
          <div class="divider"></div>
          <div class="col my-2">
          <svg class="w-16 h-16 text-emerald-400 mb-3" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0 1 16 16v288a16 16 0 0 1-16 16c-128 0-177.45 25.81-208 64c-30.37-38-80-64-208-64c-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0 1 16-16c131.57.59 192 32.84 208 96Zm0 0v288"/></svg>
    
            <button class="btn btn-success text-bold text-gray-100">Reading</button>
          </div>
          <div class="divider"></div>
          <div class="col my-2">
           <svg class="w-16 h-16 text-rose-400 mb-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><rect width="6" height="12" x="9" y="2" rx="3"/><path stroke-linecap="round" stroke-linejoin="round" d="M5 3v2M1 2v4m18-3v2m4-3v4M5 10v1a7 7 0 0 0 7 7v0a7 7 0 0 0 7-7v-1m-7 8v4m0 0H9m3 0h3"/></g></svg>
              <button class="btn bg-rose-500 hover:bg-rose-500 text-bold text-gray-100">Speaking</button>
          </div>
          <div class="divider"></div>
          <div class="col my-2">
            <svg class="w-16 h-16 text-orange-400 mb-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M3.944 11.79a.5.5 0 0 1 .141-.277L14.163 1.435a.5.5 0 0 1 .707 0l3.89 3.89a.5.5 0 0 1 0 .706L8.68 16.11a.5.5 0 0 1-.277.14l-4.595.706a.5.5 0 0 1-.57-.57l.705-4.594Zm.964.314l-.577 3.76l3.759-.578l9.608-9.608l-3.181-3.182l-9.61 9.608Z"/><path d="m15.472 8.173l-3.537-3.53l.707-.708l3.536 3.53l-.706.708Z"/></g></svg>
              <button class="btn bg-orange-500 hover:bg-orange-500 text-bold text-gray-100">Writing</button>
          </div>
      </div>
     
    ----->
        </div>
        
        
        <script is:inline>
        
        $("#exit-btn").click(()=>{
      $("#dialog-1").show()  
    })
    
    $("#false").click(()=>{
        $("#dialog-1").hide() 
    })
    
    
    $("#true").click(()=>{
        $("#dialog-1").hide()
        window.location.href='/' 
    })
        </script>