---
import { SEO } from "astro-seo";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Astroship"
  : "SpeakingApp | Edumo Academy";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js" is:inline></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js" is:inline></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="SpeakingApp - Multilevelga tayyorgarlik ko'rish uchun onlayn platforma"
      canonical={canonicalURL}
      twitter={{
        creator: "@javlon_developer",
        site: "@speakingapp",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `SpeakingApp - Multilevelga tayyorgarlik ko'rish uchun onlayn platforma`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "SpeakingApp",
        },
      }}
    />
  </head>
  <body>
    <slot />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
